@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Hanken+Grotesk&family=Work+Sans&family=Unbounded&family=Quicksand&family=Bellota+Text&family=Flamenco&family=Dela+Gothic+One&family=Montserrat+Alternates&family=Alata&family=Gruppo&family=Oxanium:wght@200&family=Poiret+One&display=swap');


html {
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #cfc3de;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:auto;
  height: auto;
  margin: 0px 0px;
  background-image: url(../images/BG.png);
  background-repeat: repeat/no-repeat;
  background-size: 1600px 840px;
  padding:none;
  border:none;
  overflow-x: hidden;
  cursor: url(../images/Normal\ Select\ p.cur), pointer;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.header {
  overflow: hidden;
  padding: 0px 0px;
  height:auto;
  position: relative;
  border:none;
  width:auto;
  margin:0px 0px;
  cursor: url(../images/cursor.cur), context-menu;
}

.mountains {
  position: static;
  background:url(../images/24.png) no-repeat;
  background-position: top;
  background-size: cover;
}

.water{
  position: relative;
  background:url(../images/23.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}

.mountains .background {
  background: linear-gradient( rgba(232, 224, 246, 0.691), rgba(129, 107, 154, 0.65));
  background-blend-mode: darken;
  height: auto;
  width: auto;
  border:none;
  padding: 0px 0px;
  margin: 0px 0px;
  background-size: cover;
  }

.water .background {
  background: linear-gradient(rgba(141, 117, 169, 0.44), rgba(36, 21, 44, 0.497));
  background-blend-mode: darken;
  height: auto;
  width: auto;
  border:none;
  padding: 0px 0px;
  margin: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  }

.centercolumn{
	width:auto;
  position: sticky;
  bottom: 0;
  width: 100%;
	background-color:#FFFFFF;
	margin: 0px 0px;
	padding: 0px 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

p {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2%;
  text-align: center;
  font-family:'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #301e42;
}


.multicolor{
  text-align: center;
  font-family: 'Unbounded', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  margin: 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #402b5ad0;
  text-shadow: 2px 2px 1px #d1c7df ;
  position:relative;
  background-image:url(../images/24.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.multicolor span {
  transition: 1s 1.5s ease-out;
}

.multicolor span:nth-child(1):hover{
  color: rgb(255, 0, 132);}
.multicolor span:nth-child(2):hover{
  color: red;}
.multicolor span:nth-child(3):hover {
  color: rgb(255, 128, 0);}
.multicolor span:nth-child(4):hover {
  color: rgb(255, 221, 0);}
.multicolor span:nth-child(5):hover {
  color: rgb(0, 255, 17);}
.multicolor span:nth-child(6):hover{
  color: rgb(0, 192, 230);}
.multicolor span:nth-child(7):hover{
  color: rgb(0, 102, 255);}
.multicolor span:nth-child(8):hover{
  color: rgb(111, 0, 255);}
.multicolor span:nth-child(9):hover{
  color: rgb(247, 0, 255);}
.multicolor span:nth-child(10):hover{
  color: rgb(255, 97, 176);}
.multicolor span:nth-child(11):hover{
  color: red;}
.multicolor span:nth-child(12):hover{
  color: rgb(255, 128, 0);}
.multicolor span:nth-child(13):hover{
  color: rgb(255, 221, 0);}
.multicolor span:nth-child(14):hover{
  color: rgb(0, 255, 21);}


.multicolor span:hover{
  transition: 0.05s ease-in-out;
}

@keyframes in {
  0%   { transform: translateX(0px);}
  30% { transform: translateX(30px);}
  100% { transform: translateX(0px);}
}

@keyframes out {
  0%   { transform: translateX(30px);}
  100% { transform: translateX(0px); }
}

@webkit-keyframes in {
  0%   { webkit-transform: translateX(0px);}
  30% { webkit-transform: translateX(30px);}
  100% { webkit-transform: translateX(0px);}
}

@webkit-keyframes out {
  0%   { webkit-transform: translateX(30px);}
  100% { webkit-transform: translateX(0px); }
}


h1 {
  color: #f3eaffbe;
  margin-top: 0px;
  padding-top: 73px;
}

h1 #im {
  text-align: left;
  font-family: 'Montserrat Alternates', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: lighter;
  color: #f3eaffbe;
  padding-left: 60px;
  padding-top: 94px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  align-content: center;
  margin-left: 20px;
}

h1 #amdn {
  font-family:Cutive Mono;
  font-weight: 500;
  text-shadow: 0px 0px 9px #dcc0ff;
  font-size: 140px;
  text-decoration-line: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: #ac8fc8;
  text-decoration-style: wavy;
  text-underline-offset: 20px;
  justify-content: center;
  margin-left: 20px;
}

h2 {
  display: block;
  text-align: justify;
  font-family: 'Cutive Mono', sans-serif;
  font-size: 27px;
  font-weight: normal;
  margin:  23px 710px  0px 60px;
  padding: 10px;
  color: #f3eaffbe;
  position: relative;
  animation: 2s out;
  -webkit-animation: 2s out;
}

h2:hover{
  animation: 2s in;
  -webkit-animation: 2s in;
}


.icons {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-right: 30px;
  padding-bottom: 0px;
  font-size: 40px;
  color: #dbc9f2c0;
}

i {
  padding-bottom: 30px;
}

.fa-bounce-hover:hover {
  -webkit-animation: fa-bounce 1s 1 linear;
  -moz-animation: fa-bounce 1s 1 linear;
  -o-animation: fa-bounce 1s 1 linear;
  animation: fa-bounce 1s 1 linear;
}

.flexbox-header{
  display: flex;
  height: auto;
  flex-direction: row;
}

h3 {
  text-align: center;
  font-family: 'Unbounded', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #301e42;
}

img {
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.avatar{
  border-radius: 50%;
  box-shadow: 3px 4px 10px -1px rgba(84, 60, 101, 0.682);
}

footer {
	background-color:#cfc3de;
	text-align:center;
}

footer p {
  padding: 15px 0px 0px 0px;
}

.menu {
  display:flex;
  background-color: #d4c3e4e1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-around;
  z-index: 9;
}

.menu .material-symbols-outlined {
  margin-top: 9px;
}

.menu li {
  list-style-type: none;
  float: left;
  display: inline;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  float: right;
}

.menu a {
  font-family: Quicksand, Tahoma, sans-serif;
  font-weight: normal;
  display: block;
  padding: 0px;
  display: block;
  color: #301e42;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 1s ;
  border-radius: 10px;
  cursor: url(../images/Link\ Select\ p.cur), pointer;
}

.menu a.actif {
  background-color: rgba(27, 0, 64, 0.62);
  color: rgba(248, 244, 255, 0.608);
  padding-bottom: 8px;
  border-radius: 50px;
  padding: 4px 14px;
  margin-top: 4px;
}

.menu a:hover.nactif{
  background-color: #402b5ad0;
  border-radius: 26px;
  color: rgba(229, 216, 247, 0.723);
  font-weight: lighter;
  margin-top: 4px;
  padding: 10px;
  transition: 0.35s ease-out;
  box-shadow: 4px 4px 4px -2px rgba(84, 60, 101, 0.364),
              -4px -4px 4px -2px rgba(244, 238, 255, 0.322);
}

.menu a:hover.actif{
  border-radius: 50%;
  background-color: rgba(237, 221, 255, 0.96);
  color: #402b5ad0;
  box-shadow: 4px 4px 4px -2px rgba(84, 60, 101, 0.364),
              -4px -4px 4px -2px rgba(212, 203, 229, 0.322);
}

.form-style {
  margin:0px auto;
  width: 400px;
  font: 14px "Quicksand", "Lucida Grande", sans-serif;
}

.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
  cursor: url(../images/Handwriting\ bp.cur), pointer;
}

.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
  cursor: url(../images/Normal\ Select\ p.cur), pointer;
}

.form-style .required{
  color:rgb(158, 128, 200);
}

.form-style input[type=submit], .form-style input[type=reset]{
  background: #9c8cb09a;
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.798);
  margin: 5px 30px;
  cursor: url(../images/Handwriting\ bp.cur);
}

.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #67577bd1;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  cursor: url(../images/Handwriting\ bp.cur), pointer;
}

.form-style .field-textarea{
  height: 100px;
}

.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:0px solid #BEBEBE;
  border-radius: 5px;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}

.form-style .long{
  width: 100%;
  cursor: url(../images/Text.cur), text;
}

.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #cdcdcd9a;
  -webkit-box-shadow: 0 0 8px #cdcdcd9a;
  box-shadow: 0 0 8px #cdcdcd9a;
  border: 1px solid #cdcdcd9a;
}

textarea{
  cursor: url(../images/Text.cur), text;
}

.error{
  color: #D8000C;
  background-color: #FFBABA;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  margin-left:50px;
  margin-right:50px;
  margin-bottom :0px;
  background-image: url(../images/BG.png);
  background-repeat: repeat/no-repeat;
  background-size: 1600px 840px;
  justify-content:center;
}

.title-box {
  display: block;
}

.flexbox-left {
  overflow-y:scroll;
  flex: 30%;
  border-radius: 10px;
  /* margin-right: 50px; */
  width: 50px;
  height:530px;
  margin-right: 30px;
  background-color: #dfd4ec;
  box-shadow: 5px 5px 10px rgba(97, 79, 124, 0.348);
}

.flexbox-left::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flexbox-left {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.flexbox-left div {
  justify-content: right;
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
}

.flexbox-left h3 {
  margin: 0px 0px 30px 0px;
}

.flexbox-left .material-symbols-outlined {
  padding-top: 3px;
  padding-left: 10px;
}

.flexbox-right {
  overflow-y:scroll;
  flex: 70%;
  border-radius: 10px;
  width: 700px;
  height:530px;
  text-align: center;
  background-color: #dfd4ec;
  box-shadow: 5px 5px 10px rgb(97, 79, 124, 0.348);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.flexbox-right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flexbox-right {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.flexbox-contact {
  margin-top: 15px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
  height: 580px;
  text-align: center;
  background-color: #dfd4ec;
  box-shadow: 5px 5px 10px rgb(97, 79, 124, 0.348);
}

.flexbox-contact p {
  margin: 0px 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: small;
}

.flexbox-contact h3 {
  margin: 0px;
  padding-bottom: 30px;
}

.flexbox-contact .material-symbols-outlined {
  padding-top: 4px;
  padding-left: 18px;
}

.flexbox-contact div {
  justify-content: right;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-right: 9px;
  display: flex;
  flex-direction: row;
}

.a-propos {
  padding: 30px;
  margin: 0px;
}

.competences {
padding: 20px;
  margin: 0px;
}

.contact {
  padding: 30px;
  margin: 0px;
}

.toolbox {
  padding: 0px 20px 0px 20px;
  margin: 45px 204px 0px;
  background-color: #ccb9ddd6;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-spacing: 20px;
  border-color: #301e42d2;
  border-width: 1px;
  border-radius: 10px;
  align-items: center;
  font-family:'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
  color: #301e42;
}

.toolbox span{
  border-style: solid;
  border-width: 1px;
  border-color: #301e42;
  background-color: #b59bcf;
  border-radius: 10px;
  margin: 5px;
}

.toolbox span:hover{
  background-color: #8e77b2;
}

.toolbox span:nth-child(1){
  display: flex;

}

object {
  padding-top: 4px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.tools i{
  padding: 0px 0px;
  padding-top: 8px;
}

.progressContainer{
  display: flex;
  flex-direction: column;
  background-color: #dfd4ec;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 900px;
  height: 490px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(97, 79, 124, 0.348);
}

.progressContainer .icon {
  justify-content: right;
  display: flex;
  padding-top: 9px;
  padding-right: 10px;
}

.progressContainer h3{
  padding: 5px 0px 25px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.progressBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 18px;
}

.nameAndProgress{
  display: flex;
  flex-direction: column;
}

.skills {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(84, 60, 101, 0.364),
              -6px -6px 10px -1px rgba(244, 238, 255, 0.322);
}

.inner{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(84, 60, 101, 0.172),
              inset -4px -4px 6px -1px rgba(255, 255, 255, 0.478),
              -0.5px -0.5px 0px rgba(255, 255, 255, 0.57),
              0.5px 0.5px 0px rgba(0,0,0,0.05),
              0px 12px 10px -10px rgba(0,0,0,0.05);
}

.middle {
  font-weight: bolder;
  color: rgb(33, 26, 46);
}

.progress {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 439;
  stroke-dashoffset: 439;
  transition: 2.5s ease-out;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
}

.boxing {
  display: flex;
  flex-direction: column;
}

canvas {
  aspect-ratio: auto 517 / 513;
}

/* 1792x828px at 326ppi */
@media only screen 
    and (max-width: 700px) {
      .header {
        overflow: hidden;
        padding: 0px 0px;
        height:940px;
        position: relative;
        border:none;
        width:auto;
        margin:0px 0px;
        cursor: url(../images/cursor.cur), context-menu;
      }
      .container {
      width: auto;
      height: 870px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      margin-left:10px;
      margin-right:10px;
      margin-bottom :0px;
      background-image: url(../images/BG.png);
      background-repeat: repeat/no-repeat;
      background-size: auto;
      justify-content:center;
    }
    .water{
      position: relative;
      height:788px;
      background:url(../images/mountains.jpg) no-repeat;
      background-position: top;
      background-size: cover;
    }
.water .background {
  background: linear-gradient(rgba(141, 117, 169, 0.44), rgba(36, 21, 44, 0.497));
  background-blend-mode: darken;
  height: 788px;
  width: auto;
  border:none;
  padding: 0px 0px;
  margin: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  }
    canvas {
      aspect-ratio: auto 517 / 788;
  }
  
.flexbox-header{
  margin-top: 100px;
  display: flex;
  height: auto;
  flex-direction: row;
}

.flexbox-header h2 {
  margin: 200px 130px 0px 20px;
  display: flex;
  height: auto;
  width: 265px;
  flex-direction: row;
}

h1 {
  padding-left: 43px;
  padding-top: 144px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


h1 #im {
  padding-left: 130px;
  margin-bottom: 40px;
}

h1 #amdn {
  padding-left: 20px;
  margin-top: 40px;
}

    p {
      margin-left: 8%;
      margin-right: 8%;
      padding-top: 2%;
    }  
.flexbox-left {
  flex: 55%;
  width: auto;
  height:530px;
  margin-bottom:30px;
  margin-right: 0px;
}

.flexbox-right {
  flex: 45%;
  width: auto;
  height:530px;
}

.icons {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-top: 70px;
  font-size: 40px;
  color: #dbc9f2c0;
}

.progressBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 18px;
}


.progressContainer{
  display: flex;
  flex-direction: column;
  background-color: #dfd4ec;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  padding-bottom: 25px;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(97, 79, 124, 0.348);
}

.toolbox {
  margin-left: 43px;

  margin-bottom: 20px;
  width: 365px;
}

.flexbox-contact {
  margin-top: 15px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}
}